.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 12px;
    border-block-end: 1px solid #ccc;
}

/* Desktop navigation visible */
.headerNavigation {
    display: flex;
    gap: 32px;
    align-items: center;
}

/* Burger hidden on desktop */
.burger {
    display: none;

}

.headerHome {
    background-color: bisque;

}

.headerInner {
    background-color: darkgrey;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    list-style-type: none;
}



/*  MOBILE */
@media (max-width: 1000px) {
    .headerNavigation {
        display: none;
    }

    .burger {
        display: block;
    }
}