.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 18px;
    /* border: solid 1px blue; */
    /* border-block-end: 1px solid #c14646; */
}

/* Desktop navigation visible */
.headerNavigation {
    display: flex;
    gap: 32px;
    align-items: center;
}

.desktonNav:hover,
.desktonNav:focus {
    border: 1px solid #f6b83d;
}

.authBox {
    display: flex;
}

.authBoxUser {
    display: flex;
    align-items: center;
    gap: 10px;
}

.authUser {
    /* display: flex; */
    align-items: center;
    /* text-align: center; */
    /* padding: 0; */
}


.svgBurger {
    stroke: #fff;
    fill: white;
}

.headerHome {
    background-color: #f6b83d;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.headerInner {
    background-color: #fff;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    list-style-type: none;
}

.username {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #fff;
}

/*  MOBILE */
@media (max-width:768px) {
    .username {
        display: none;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .logo {
        width: 76px;
        height: 20px;
    }

    .authUser {
        max-width: 40px;
        max-height: 40px;
    }
}

/*  TABLET */
@media (max-width: 1279px) {
    .headerNavigation {
        display: none;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .burger {
        display: block;
    }
}

/*   DESKTOP */
@media (min-width: 1280px) {
    .burger {
        display: none;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .headerHome .desktonNav {
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.4);
    }


}