.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 16px 0;
    list-style: none;
    padding: 0;
}

.li,
.break,
.previous,
.next,
.control {
    border: 1px solid rgba(38, 38, 38, 0.2);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.active {
    background-color: #f6b83d;
    color: #fff;
    font-weight: bold;
    border: none;
}

.disabled {
    border: 1px solid rgba(38, 38, 38, 0.05);
    color: rgba(38, 38, 38, 0.5);

}