.navContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.authNavigation {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}



@media (max-width: 1280px) {
    .authNavigation {
        flex-wrap: wrap;

    }

    .authNavBtn {
        width: 178px;

    }


}