.authNavigation {
    display: flex;
}

.authLink {
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #f6b83d;
    color: #fff;
}