.navContainer {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.authNavigation {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}



@media (max-width: 1280px) {
    .authNavigation {
        flex-wrap: wrap;
    }

    .authNavBtn {
        width: 178px;
    }


}

@media (min-width: 1280px) {
    .authNavBtnProfile {
        display: none;
    }

    .authNavBtnLogout {
        /* border: 1px solid rgba(255, 255, 255, 0.4) !important; */
        /* background-color: #f6b83d !important; */
        /* color: #fff !important; */
        cursor: pointer;
    }
}