.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #2b2b2a;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    border: 1px solid #f6b83d;
    border-radius: 30px;
    padding: 12px 12px 12px 12px;
    width: 295px;
    height: 42px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #262626;
}

.save {
    border-radius: 30px;
    padding: 12px;
    width: 295px;
    height: 42px;
    text-transform: capitalize;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #fff;
}