.imageBox {
    border-radius: 100%;
    padding: 10px;
    width: 94px;
    height: 94px;
    overflow: hidden;
    margin: 0 auto;
}

.avatar {
    width: 100%;
    height: auto;
}

.textContainer {
    margin: 20px;
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #2b2b2a;
    margin-bottom: 20px;
}

.userList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userData {
    border: 1px solid #f6b83d;
    border-radius: 30px;
    padding: 12px 12px 12px 12px;
    width: 295px;
    height: 42px;
}

.userText {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #262626;
}

.logout {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #f6b83d;
    margin-left: 20px;
    margin-bottom: 30px;
}

@media (min-width: 1280px) {
    .container {
        background-color: #fff;
        border-radius: 30px;
    }
}