.baseStyles {
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.primary {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #f6b83d;
    color: #fff;
}

.primary:hover {
    background-color: #f9b020;
}

.secondary {
    background-color: #fff4df;
    color: #f6b83d;
}

.secondary:hover {
    background-color: #fbe7c1;
}

.tertiary {
    background-color: inherit;
    color: #262626;
    border: 1px solid rgba(38, 38, 38, 0.15);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
}

.tertiary:active {
    border: 1px solid #f6b83d;
}

.quaternary {
    background-color: inherit;
    stroke: #262626;
    font-weight: 400;
}

.text {
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: initial;
    text-decoration: underline;
    color: #f6b83d;
    background-color: transparent;
}

.simbol {
    border-radius: 100%;
    padding: 0;
    /* padding: 15px; */
    width: 48px;
    height: 48px;
    background-color: #fff4df;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}