.wrapper {
    display: flex;
    align-items: center;
    width: 295px;
    position: relative;
}

.input {
    flex: 1;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
}

.searchSvg {
    stroke: black;
    fill: transparent;
}

.buttonSearch {
    padding: 5px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.buttonClear {
    padding: 5px;
    margin-right: 10px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 35px;
}

@media (min-width: 768px) {
    .wrapper {
        width: 230px;
    }

}