.container {
    width: 336px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.textContainer {
    display: none;
}

.formContainer {
    width: 336px;
    border-radius: 30px;
    background-color: #fff;
}

.form {

    padding: 60px 20px;
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.04em;
    margin-bottom: 12px;
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.label {
    position: relative;
}

.input {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 12px 12px 12px 12px;
    width: 295px;
    height: 42px;
}

.loginBtn {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    padding: 12px;
}

.hintBox {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.hintText {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.03em;
    color: rgba(38, 38, 38, 0.5);
}

.hintLink {
    font-weight: 700;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #f6b83d;
}

.passwordEye {
    width: 18px;
    height: 18px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 12px;
}

@media (min-width: 768px) {
    .container {
        width: 704px;

    }

    .imgBox {
        border-radius: 60px;
        width: 704px;
        height: 302px;
        background: #f6b83d;
        display: flex;
        justify-content: space-around;
    }

    .textContainer {
        display: block;
        padding-top: 150px;
    }

    .formContainer {
        width: 704px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form {
        width: 424px;
    }

    .input {
        width: 384px;
    }

    /* .passwordEye {
        right: 106px;
        top: 12px;
    } */
}

@media (min-width: 1280px) {
    .container {
        width: 1216px;
        flex-direction: row;
        justify-content: space-between;
    }

    .imgBox {
        width: 592px;
        height: 654px;
        gap: 32px;
        position: relative;
    }

    .textContainer {
        position: absolute;
        top: 330px;
        left: 68px;
    }

    .image {
        width: 592px;
        height: 600px;
    }

    .title {
        font-size: 54px;
    }

    .text {
        font-size: 18px;
    }
}