.container {
    border-radius: 30px;
    width: 335px;
    background-color: #fff;
}

.btnBox {
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.btnBox button {
    width: 38px;
    height: 38px;
}