/* Mobile menu hidden by default */
.mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 220px;
    height: 100vh;
    background-color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    z-index: 1000;
}

.closeBtn {
    align-self: flex-end;

}

.mobileNavigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #262626;
}

.buttonMobileMenu {
    width: 120px;
    text-transform: capitalize;
    padding: 15px 25px;
}

@media (min-width: 768px) {
    .mobileMenu {
        width: 380px;
    }
}

@media (min-width: 1280px) {
    .mobileMenu {
        display: none;
    }


}