:root {
  --background: #ffffff;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* //   -------------------------------------------   // */

/* Styles for Mobile devices */
.containerGlobal {
  border: 2px double blue;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 374px) {
  .containerGlobal {
    width: 100%;
  }
}


/*  Tablet */
@media screen and (min-width: 768px) {
  .containerGlobal {
    max-width: 768px;
    width: 768px;
  }
}

/* Desktop  */
@media screen and (min-width: 1200px) {
  .containerGlobal {
    max-width: 1200px;
    width: 1200px;
  }
}

/* Desktop 2 */
@media screen and (min-width: 1440px) {
  .containerGlobal {
    max-width: 1440px;
    width: 1440px;
  }
}