.container {
    width: 335px;
    height: 712px;
    border-radius: 30px;
    background-color: #f6b83d;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.list {
    display: flex;
    gap: 8px;
}



.simbol {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 120px;
    line-height: 100%;
    color: #fff;
}

.image {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #fff;
}

.NotFoundLink {
    border-radius: 30px;
    padding: 12px 30px;
    width: 150px;
    height: 42px;
    background: #fff4df;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #f6b83d;
}


@media (min-width:768px) {
    .container {
        width: 704px;
    }

    .image {
        width: 280px;
        height: 280px;
    }

    .simbol {
        font-size: 300px;
    }

    .text {
        font-size: 24px;
    }

    .NotFoundLink {
        font-size: 16px;
        width: 162px;
        height: 48px;
        padding: 14px 30px;
    }

}

@media (min-width:1280px) {
    .container {
        width: 1216px;
    }

}

@media (min-width:1440px) {
    .container {
        width: 1376px;
    }

}