.container {
    background: #fff;
    width: 100%;
}

.imageBox {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #fff4df;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.image {
    position: absolute;
    left: 18px;
    top: 18px;
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #f6b83d;
    margin-bottom: 20px;
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #2b2b2a;
}

.buttonBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button {
    text-transform: capitalize;
    width: 136px;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 1px;
    padding: 15px;
    text-align: center;
}