.container {
    margin-bottom: 12px;
}

.picker {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.avatar {
    border-radius: 100px;
    padding: 10px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.urlBox {
    display: flex;
    gap: 8px;
}

.upload {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #262626;
    text-transform: capitalize;
    height: 42px;
    padding: 12px;
}

.inputUrl {
    border: 1px solid #f6b83d;
    border-radius: 30px;
    padding: 13px 13px 13px 12px;
    width: 161px;
    height: 42px;
}