.pagination {
    display: flex;
    gap: 6px;
    margin: 16px 0;
    list-style: none;
    padding: 0;
}

.pagination li {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
}

.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.active {
    background-color: #0a66c2;
    color: white;
    font-weight: bold;
}

/* --------------------------------- */

.noticesContainer {
    width: 334px;
}

.titlePage {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #262626;
    margin-bottom: 40px;
}

.noticesList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 44px;
}

.noticesItem {
    border-radius: 16px;
    padding: 24px;
    width: 334px;
    background-color: #fff;
}

.imageBox {
    width: 286px;
    height: 178px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 24px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----------------------- */

.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #2b2b2a;
}

.popularity {
    display: flex;
    align-items: center;
    gap: 2px;
}

/* -----------  descr  ---------------- */

.descrList {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.descrTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
}

.descrText {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #262626;
}

/* ------------------- */

.commentBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 12px;
}

.comment {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #2b2b2a;
    height: 36px;
}

.price {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #2b2b2a;
}

.buttonBox {
    display: flex;
    justify-content: space-between;
}

.more {
    text-transform: none;
    width: 230px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 1px;
    color: #fff;
}

@media (min-width:768px) {

    .noticesContainer {
        width: 704px;
    }

    .imageBox {
        width: 294px;
    }

    .noticesList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        font-size: 18px;
    }

    .price {
        font-size: 18px;
    }
}

@media (min-width:1280px) {

    .noticesContainer {
        width: 1216px;
    }

    .noticesList {
        padding: 0 32px;
        gap: 32px;
        grid-template-columns: repeat(3, 1fr);
    }

    .imageBox {
        width: 315px;
    }

    .noticesItem {
        width: 364px;
    }
}

@media (min-width:1440px) {
    .noticesContainer {
        width: 1376px;
    }

    .noticesItem {
        width: 400px;
    }

    .imageBox {
        width: 350px;
        height: 250px;
    }
}