.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    width: 334px;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 30px;
    background-color: #fff;
    padding: 24px;
}

/* Modal.module.css */

.closeButton {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    line-height: 0;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.closeButton:hover {
    background: #f2f2f2;
}

.closeButton:focus {
    outline: 2px solid #007bff;
}

@media (min-width: 768px) {
    .modal {
        width: 466px;
        padding: 40px;
    }
}