.labelSelect {
    border: none;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #262626;
    background-color: inherit;
}

.optionAll {
    color: #f6b83d;
}

.placeholder,
.value {
    color: rgba(38, 38, 38, 0.6);
}

@media (min-width: 768px) {
    .labelSelect {
        font-size: 16px;
    }

}